.sectionOne {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: rgb(0, 255, 34);
}
.SectionOneImg {
  width: 15%;
}
.sectionOneDescription {
  width: 50%;
}
